# I used to include the system inputrc.
#$include /etc/inputrc

# Now I set all my settings myself.
set meta-flag on
set input-meta on
set convert-meta off
set output-meta on
set enable-keypad on
set bell-style audible
set echo-control-characters on
set mark-directories on
set mark-symlinked-directories on
set enable-meta-key on
set horizontal-scroll-mode off
set show-all-if-ambiguous on
set skip-completed-text on
set colored-completion-prefix on
set enable-bracketed-paste on

# Play around with vi input mode
set show-mode-in-prompt on
set emacs-mode-string ""
set vi-cmd-mode-string "CMD│"
set vi-ins-mode-string "INS│"
set keyseq-timeout 20

# Make vi-insert mode more vim-like (or emacs-like, I guess)
set keymap vi-insert

"\e[5~": history-search-backward        # pgup
"\e[6~": history-search-forward         # pgdn
"\e[2~": overwrite-mode                 # ins
"\e[1;5C": forward-word                    # ctrl-left
"\e[1;5D": backward-word                   # ctrl-right

$if term=rxvt
"\e[7~": beginning-of-line              # home
"\e[8~": end-of-line                    # end
"\eOc": forward-word                    # ctrl-left
"\eOd": backward-word                   # ctrl-right
$endif # term=rxvt

"\C-Rubout": backward-kill-word
"\C-w": self-insert


# Add to keybindings available in vi-command
set keymap vi-command
"'": vi-goto-mark

# Bindings to make vi mode more like vim
# https://github.com/dannycolin/dotfiles/blob/master/user/console/.inputrc
set keymap vi-command
Control-l: clear-screen
"#": insert-comment
".": "i !*\r"
"|": "A | "
"D":kill-line
"C": "Da"
"dw": kill-word
"dd": kill-whole-line
"db": backward-kill-word
"cc": "ddi"
"cw": "dwi"
"cb": "dbi"
"daw": "lbdW"
"yaw": "lbyW"
"caw": "lbcW"
"diw": "lbdw"
"yiw": "lbyw"
"ciw": "lbcw"
"da\"": "lF\"df\""
"di\"": "lF\"lmtf\"d`t"
"ci\"": "di\"i"
"ca\"": "da\"i"
"da'": "lF'df'"
"di'": "lF'lmtf'd`t"
"ci'": "di'i"
"ca'": "da'i"
"da`": "lF\`df\`"
"di`": "lF\`lmtf\`d`t"
"ci`": "di`i"
"ca`": "da`i"
"da(": "lF(df)"
"di(": "lF(lmtf)d`t"
"ci(": "di(i"
"ca(": "da(i"
"da)": "lF(df)"
"di)": "lF(lmtf)d`t"
"ci)": "di(i"
"ca)": "da(i"
"da{": "lF{df}"
"di{": "lF{lmtf}d`t"
"ci{": "di{i"
"ca{": "da{i"
"da}": "lF{df}"
"di}": "lF{lmtf}d`t"
"ci}": "di}i"
"ca}": "da}i"
"da[": "lF[df]"
"di[": "lF[lmtf]d`t"
"ci[": "di[i"
"ca[": "da[i"
"da]": "lF[df]"
"di]": "lF[lmtf]d`t"
"ci]": "di]i"
"ca]": "da]i"
"da<": "lF<df>"
"di<": "lF<lmtf>d`t"
"ci<": "di<i"
"ca<": "da<i"
"da>": "lF<df>"
"di>": "lF<lmtf>d`t"
"ci>": "di>i"
"ca>": "da>i"
"da/": "lF/df/"
"di/": "lF/lmtf/d`t"
"ci/": "di/i"
"ca/": "da/i"
"da:": "lF:df:"
"di:": "lF:lmtf:d`t"
"ci:": "di:i"
"ca:": "da:i"
"gg": beginning-of-history
"G": end-of-history
?: reverse-search-history
#/: forward-search-history

set keymap vi-insert
Control-l: clear-screen
