# I used to include the system inputrc.
#$include /etc/inputrc

# Now I set all my settings myself.
set meta-flag on
set input-meta on
set convert-meta off
set output-meta on
set enable-keypad on
set bell-style audible
set echo-control-characters on
set mark-directories on
set mark-symlinked-directories on
set enable-meta-key on
set horizontal-scroll-mode off
set show-all-if-ambiguous on
set skip-completed-text on

$if mode=emacs

"\e[5~": history-search-backward        # pgup
"\e[6~": history-search-forward         # pgdn
"\e[2~": overwrite-mode                 # ins
"\e[1;5C": forward-word                    # ctrl-left
"\e[1;5D": backward-word                   # ctrl-right


$if term=rxvt
"\e[7~": beginning-of-line              # home
"\e[8~": end-of-line                    # end
"\eOc": forward-word                    # ctrl-left
"\eOd": backward-word                   # ctrl-right
$endif # term=rxvt

"\C-Rubout": backward-kill-word
"\C-w": self-insert

$endif # mode=emacs
