#!/bin/false
# vim:set ft=sh:

# This file gets *sourced* by some display managers (including GDM and LXDM),
# *before* starting the window manager.
# It should be explicitly sourced by other ways of starting X (eg, .xinitrc).
# Info from: https://wiki.archlinux.org/index.php/Xprofile
#
# If anything is written to stderr, GDM (and maybe other display managers)
# will show an error message and warn you that something is broken.
# If anything is written to stdout, GDM will show a useless dialogue asking
# "Are you sure you want to proceed?" with no option but to proceed.

# Start ssh-agent if it's not already running
[ -n "$SSH_AUTH_SOCK" ] || eval `ssh-agent`

. "$HOME/.profile"

# Use fcitx if we can; otherwise,
# Force apps to use the classic X input method, chiefly to support
# the settings in my .XCompose file.
fcitx=$(which fcitx5 fcitx 2>/dev/null | head -n 1)
if [ -n "$fcitx" ] ; then
    myim=$(basename "$fcitx")
else
    myim=xim
fi
export CLUTTER_IM_MODULE=$myim
export GTK_IM_MODULE=$myim
export QT_IM_MODULE=$myim
export QT4_IM_MODULE=$myim
#export XMODIFIERS="@im=$myim" # Causes freeze if using fcitx+openbox: https://github.com/lxqt/lxqt/issues/1248
if [ "$myim" = "fcitx" ] ; then
    export XMODIFIERS="@im=none"
else
    export XMODIFIERS="@im=$myim"
fi
unset myim fcitx

xrdb -I"$XDG_CONFIG_HOME/Xresources.d" "$XDG_CONFIG_HOME/Xresources" >/dev/null 2>&1

"$HOME/bin/fixkeys" >/dev/null 2>&1

# Pull in any other profile tweaks from separate files
# (replaces my old optional ~/.profile.local file)
PROFILE_D="$HOME/.config/xprofile.d"
if [ -d "$PROFILE_D" ] ; then
    set -a
    for conf in $(ls "$PROFILE_D"/*.sh | sed 's/ /?/g'); do
        [ -f "$conf" ] && . "$conf"
    done
    set +a
fi
unset conf PROFILE_D

