#!/bin/false
# vim:set ft=sh:

# This file gets *sourced* by some display managers (including GDM and LXDM),
# *before* starting the window manager.
# It should be explicitly sourced by other ways of starting X (eg, .xinitrc).
# Info from: https://wiki.archlinux.org/index.php/Xprofile

. "$HOME/.profile"

xrdb "$HOME/.Xresources"

#if which xssproxy >/dev/null 2>&1 ; then
#    xssproxy &
#fi
"$HOME/bin/fixkeys"
"$HOME/bin/fixrandr.sh" || :

[ -f "$HOME/.xprofile.local" ] && . "$HOME/.xprofile.local" || :
