! Reload your resources with the command:
!   xrdb $HOME/.Xresources
#include ".Xresources.d/xscreensaver"
#include ".Xresources.d/rxvt"
#include ".Xresources.d/xterm"
#include ".Xresources.d/nethack"
