#!/usr/bin/exo-open
[Desktop Entry]
Version=1.0
Type=Application
Name=XScreenSaver
Comment=Desktop screensaver and locker
Exec=xss.sh
Terminal=false
StartupNotify=false
Icon=xscreensaver
