# Smart-nesting braces.
# Include this file in another snippets file with "extends my_braces"

# This may need some rejiggering if I decide I want to do ultisnips
# expansion on stuff like `$foo->{`
snippet "{" "Expand braces" r
{
	${0}
}
endsnippet
