#!/usr/bin/exo-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Term
Comment=My preferred terminal emulator
Exec=/home/smiley/bin/term
Terminal=false
StartupNotify=false
Icon=terminal
